.post-view {
    width: 100%;
    max-width: 1000px;
    padding: 20px 0;

    hr {
        color: var(--primary);
        border: 1px solid var(--primary);
    }
    hr {
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .version-bar {
        display: flex;
        height: 24px;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-x: auto;

        a {
            transition: all 0.5s ease-in;
            text-decoration: none;
            padding: 12px 8px;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }

    h1.title {
        margin-bottom: 16px;
    }

    h1.title,
    ul {
        margin-left: 12px;
    }
    .post-info-container {
        display: flex;
        align-items: center;
    }
    .post-info {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        justify-content: space-between;

        li {
            margin-left: 12px;
            margin-right: 12px;
            color: rgba(0, 0, 0, 0.6);
            font-size: small;
            font-weight: bold;
        }
    }

    .post-content {
        margin-left: 20px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        code,
        pre,
        blockquote,
        p,
        ul,
        ol,
        li,
        a,
        table,
        img {
            margin-bottom: 20px;
        }

        table {
            border: 2px solid var(--border-color);
            border-collapse: collapse;

            tr,
            th,
            td {
                border: 1px solid var(--border-color);
                padding: 12px;
            }
        }

        pre {
            padding: 12px;
            width: 100%;
            border: 2px solid gray;
            background: aliceblue;
            border-radius: 12px;
        }
        img {
            width: 100%;
            object-fit: contain;
        }
        ul,
        ol {
            margin-left: 40px;
        }
    }
}
