.post-view {
    width: 100%;
    max-width: 800px;
    padding: 20px;

    h1.title + hr {
        margin-bottom: 20px;
    }

    .post-info {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        li {
            margin-left: 12px;
            margin-right: 12px;
            color: rgba(0, 0, 0, 0.6);
            font-size: small;
            font-weight: bold;
        }
    }

    .post-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 12px;
        }

        ul,
        ol {
            margin-bottom: 12px;
        }

        table {
            margin-bottom: 12px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 12px;
        }
    }
}
