.post-view {
    width: 100%;
    max-width: 1000px;
    padding: 20px 0;

    hr {
        margin-bottom: 20px;
        color: var(--primary);
        border: 1px solid var(--primary);
    }

    h1.title {
        margin-bottom: 16px;
    }

    h1.title,
    ul {
        margin-left: 12px;
    }
    .post-info {
        display: flex;
        width: 100%;
        margin-bottom: 12px;

        li {
            margin-left: 12px;
            margin-right: 12px;
            color: rgba(0, 0, 0, 0.6);
            font-size: small;
            font-weight: bold;
        }
    }

    .post-content {
        margin-left: 20px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 12px;
        }

        ul,
        ol {
            margin-bottom: 12px;
        }

        table {
            margin-bottom: 12px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 12px;
        }
    }
}
